@import url("https://fonts.googleapis.com/css?family=Kanit:500&display=swap");

body {
  background: #fa8c43;
  font-family: "Kanit", sans-serif;
}

.container {
  margin: auto;
  width: 90vw;
}

#title {
  background: #fff;
  margin: auto;
  width: 80%;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #000;
  font-size: 3em;
}

#wrapper {
  padding-top: 56.25%;
  width: 100%;
  background: red;
  position: relative;
  margin-bottom: 5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#wrapper:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

li {
  font-size: 2em;
}

.lang {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

a:hover {
  color: #fff;
  transition: all 0.2s ease-in;
}

li {
  list-style: none;
  text-align: center;
}

.lang ul li img {
  vertical-align: middle;
}

#lang h1 {
  background: #fff;
  margin: auto;
  width: 80%;
  border-radius: 10px;
}

.logo {
  height: 1em;
  padding-right: 0.5em;
}

#lang {
  margin-bottom: 5em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #f7f7f7;
}

footer > p {
  color: #333333;
}
