@import url('https://fonts.googleapis.com/css?family=Kanit:500&display=swap');

body {
  background: #F08331; 
  font-family: 'Kanit', sans-serif;
}

.container {
  margin: auto;
  width: 90vw;
}

h1 {
  text-align: center;
  color: #000;
  font-size: 3em;
}

.game {
  height: 50vh;
  background: white;
}

li {
  font-size: 2em;
}

.lang {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #fff; 
}

li {
  list-style: none;
  text-align: center;
}

.lang ul li img {
  vertical-align: middle;
}

.logo {
  height: 1em;
  padding-right: .5em;
}